# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=49d189df-3336-4e83-bf44-7b354b809515

    # Set to true to disable all reporting
    B:opt-out=false
}


